target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
pom.xml.new-version
release.properties
dependency-reduced-pom.xml
buildNumber.properties
application.properties
*.iml
.idea/
*.ipr
*.iws
*.DS_Store
*.woff2
*.woff
*.map
*.chunk.js
*.chunk.css
web/src/main/resources/static/*
.vscode