# VEP web API URL with additional parameters. Note that "VARIANT" field will be replaced with
# the actual variant value before each VEP request.
vep.url=http://grch37.rest.ensembl.org/vep/human/hgvs/VARIANT?content-type=application/json&xref_refseq=1&ccds=1&canonical=1&domains=1&hgvs=1&numbers=1&protein=1
# 300 is the max page size allowed by the public VEP service, it might be possible to increase this for a private instance
vep.max_page_size=300

# the gene external references URL
genexrefs.url=http://grch37.rest.ensembl.org/xrefs/id/ACCESSION?content-type=application/json

# Cancer Hotspots web API URLs
hotspots.url=https://www.cancerhotspots.org/api/hotspots/single/
hotspots.3d.url=https://www.3dhotspots.org/api/hotspots/3d/

# Mutation Assessor web API URL
#"VARIANT" will be replaced with actual variant upon each request.
mutationAssessor.url=http://mutationassessor.org/r3/?cm=var&var=VARIANT&frm=json&fts=input,rgaa,rgvt,msa,pdb,F_impact,F_score,vc_score,vs_score,info,var,gene,uprot,rsprot,gaps,msa_height,chr,rs_pos,rs_res,up_pos,up_res,cnt_cosmic,cnt_snps

# Comma separated list of isoform_overrides_resource:overrides_filename pairs.
vep.isoform.overrides=uniprot:isoform_overrides_uniprot.txt,mskcc:isoform_overrides_at_mskcc.txt

# PDB header web service URL
pdb.header_service_url=http://files.rcsb.org/header/PDB_ID.pdb

# MongoDB URI in the form of mongodb://<USERNAME>:<PASSWORD>@<HOST>:<PORT>/<DB>
spring.data.mongodb.uri=mongodb://127.0.0.1:27017/annotator

# Server port number for the embedded tomcat. This property is required only when building
# a jar file, and ignored when building a war file.
server.port=38080
